//====================================================================================================

//====================================================================================================

.page {
}

.page-slide {

}
.page-top {
  padding: 30px 20px 70px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 30px;
  color: gray;
  font-weight: 700;
}
.navigation {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  background: #313131;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
   font-size: 16px;    
  }
  @media (any-hover:hover) {
    &:hover {
      background: #FBCE51;
    }
  }

  &.swiper-button-disabled {
    background: #D6D6D6;
  }
}

.swiper {
  padding: 30px 0 70px 0;
}
.swiper-wrapper {
}

.swiper-slide {
	&__image {
      text-align: center;
      img {
        max-width: 100%;
      }
		}
}
.page-slider .swiper-pagination {
  width: 44px;  
  height: 44px;
	font-size: 16px;
	font-weight: 700;
	color:red;
}

